.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.modal-container {
  max-height: 95%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* modal geolocation error */
:root {
  --shadow:0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --ring-offset-shadow:0 0 #0000;
  --ring-shadow:0 0 #0000;
}

.card_open {
  animation-duration: 2s;
  animation-name: card_open;
}

@keyframes card_open {
  from {
    height: 1%;
    box-shadow: var(--shadow);
  }

  to {
    height: 100%;
    box-shadow: var(--ring-offset-shadow,0 0 #0000),var(--ring-shadow,0 0 #0000),var(--shadow);
  }
}
