.desktopTabs {
  @media (min-width: 1024px) {
    position: absolute;
    top: 5%;
    left: 10px;
    overflow: hidden;
    height: 80%;
  }

  .alojamientos-container {
    overflow-y: scroll;
  }
}

.view-tabs {
  display: block !important;
}
