.desktopTabs {
  position: absolute;
  top: 11%;
  left: 10px;
  overflow: hidden;
  height: 80%;

  .alojamientos-container {
    overflow-y: scroll;
  }
}

.view-tabs {
  display: block !important;
}
